In [19]:
import pandas as pd
import numpy as np
import math

In [16]:
students = pd.read_csv("./rotations.csv")
TBC3students = students[students['optimal_rotation'] == "Option 3"][['studentID', 'rotation_order']].sample(frac = 1)
TBC3students

    studentID            rotation_order
46         47  TBC3 – TBC1 – LAB – TBC2
3           4  TBC3 – TBC1 – LAB – TBC2
73         74  TBC3 – TBC1 – LAB – TBC2
22         23  TBC3 – TBC1 – LAB – TBC2
51         52  TBC3 – TBC1 – LAB – TBC2
35         36  TBC3 – TBC1 – LAB – TBC2
14         15  TBC3 – TBC1 – LAB – TBC2
68         69  TBC3 – TBC1 – LAB – TBC2
44         45  TBC3 – TBC1 – LAB – TBC2
42         43  TBC3 – TBC1 – LAB – TBC2
8           9  TBC3 – TBC1 – LAB – TBC2
19         20  TBC3 – TBC1 – LAB – TBC2
67         68  TBC3 – TBC1 – LAB – TBC2
24         25  TBC3 – TBC1 – LAB – TBC2
64         65  TBC3 – TBC1 – LAB – TBC2
55         56  TBC3 – TBC1 – LAB – TBC2
7           8  TBC3 – TBC1 – LAB – TBC2
48         49  TBC3 – TBC1 – LAB – TBC2
75         76  TBC3 – TBC1 – LAB – TBC2
52         53  TBC3 – TBC1 – LAB – TBC2

In [28]:
TBC3students['TBC3_order'] = np.repeat(["psych", "elective", "neuro"], 
                                       math.ceil(len(TBC3students)/3))[0:len(TBC3students)]
TBC3students

    studentID            rotation_order TBC3_order
46         47  TBC3 – TBC1 – LAB – TBC2      psych
3           4  TBC3 – TBC1 – LAB – TBC2      psych
73         74  TBC3 – TBC1 – LAB – TBC2      psych
22         23  TBC3 – TBC1 – LAB – TBC2      psych
51         52  TBC3 – TBC1 – LAB – TBC2      psych
35         36  TBC3 – TBC1 – LAB – TBC2      psych
14         15  TBC3 – TBC1 – LAB – TBC2      psych
68         69  TBC3 – TBC1 – LAB – TBC2   elective
44         45  TBC3 – TBC1 – LAB – TBC2   elective
42         43  TBC3 – TBC1 – LAB – TBC2   elective
8           9  TBC3 – TBC1 – LAB – TBC2   elective
19         20  TBC3 – TBC1 – LAB – TBC2   elective
67         68  TBC3 – TBC1 – LAB – TBC2   elective
24         25  TBC3 – TBC1 – LAB – TBC2   elective
64         65  TBC3 – TBC1 – LAB – TBC2      neuro
55         56  TBC3 – TBC1 – LAB – TBC2      neuro
7           8  TBC3 – TBC1 – LAB – TBC2      neuro
48         49  TBC3 – TBC1 – LAB – TBC2      neuro
75         76  TBC3 – TBC1 – LAB – TBC2      neuro
52         53  TBC3 – TBC1 – LAB – TBC2      neuro

In [32]:
psychstudents = TBC3students[TBC3students['TBC3_order'] == 'psych']
psychstudents['psych_order'] = np.repeat(["Consult", "Inpatient"], 
                                         math.ceil(len(psychstudent)/2))[0:len(psychstudent)]
psychstudents

/tmp/ipykernel_1063543/2745875821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  psychstudents['psych_order'] = np.repeat(["Consult", "Inpatient"],

    studentID            rotation_order TBC3_order psych_order
46         47  TBC3 – TBC1 – LAB – TBC2      psych     Consult
3           4  TBC3 – TBC1 – LAB – TBC2      psych     Consult
73         74  TBC3 – TBC1 – LAB – TBC2      psych     Consult
22         23  TBC3 – TBC1 – LAB – TBC2      psych     Consult
51         52  TBC3 – TBC1 – LAB – TBC2      psych   Inpatient
35         36  TBC3 – TBC1 – LAB – TBC2      psych   Inpatient
14         15  TBC3 – TBC1 – LAB – TBC2      psych   Inpatient